<div>
  <div class="center-text">
    <div class="search">
      <app-search></app-search>
    </div>
    <p>SORT BY</p>
  </div>
  <ul id="filter" class="filter" style="padding-left: 0px" >
    <li class="list" style="cursor: pointer;" (click)="all()" >Most Recent</li>
    <li class="list" style="cursor: pointer;" (click)="filt('animal')" >Animal</li>
    <li class="list" style="cursor: pointer;" (click)="filt('nature')" >Nature</li>
    <li class="list" style="cursor: pointer;" (click)="filt('sport')" >Sport</li>
    <li class="list" style="cursor: pointer;" (click)="filt('tech')" >Tech</li>
    <li class="list" style="cursor: pointer;" (click)="filt('food')" >Food</li>
  </ul>

  
  <div id="pasted" >
        <div class="masonry wrapper">
        <app-display-image-item *ngFor=" let image of images " [displayImg]="image" ></app-display-image-item>
      </div>
      </div>
      
</div>

 
    
