.center-text{
  text-align: center;
  padding-top: 32px;
  margin-bottom: 32px;
  font-weight: bolder;
}

.center-text h4{
  margin: 0;
  color: rgb(200, 200, 200);
}


body{
  margin: 0;
  padding: 5%  7% 5% 7%;
  font-family: arial;
  background-color: rgb(28,28,28);
  box-shadow: 2px;

}

#left-nav{
  margin: 0;
  padding: 25px;
  text-align: center;
}
#left-nav li{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
  color: white;
  margin-top: 40px;
  text-transform: uppercase;
}

#left-nav li a{
  color: white;
  text-decoration: none;
}

#left-nav li a:hover{
  padding-bottom: 8px;
  border: none;
  border-bottom: 2px solid white;
}


#head{
  height: 50vh;
  background: rgb(17,17,17);
}

#title p{
  color: white;
  margin-top: 112px;
  text-align: center;;
  font-size: 24px;

}

#filter{
  text-align: center;
}

#filter li{
  text-transform: capitalize;
  list-style-type: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; 
}
#body{
  background: rgb(255, 255, 255);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}



#pasted{
  margin-top: 40px;
}

*{
    box-sizing: border-box;
}


.masonry { /* Masonry container */
    -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
   margin: 1.5em;
    padding: 0;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    font-size: .85em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
  -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.item img{max-width:100%;}

@media only screen and (min-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

.row-image{
  width: 100%;
  height: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 3s ease;
  backface-visibility: hidden;
}

.image-item{
  position: relative;
}

.image-item:hover .image {
  opacity: 0.3;
}

.image-item:hover .overlaid {
  opacity: 1;
}

.image-item:hover .overlaid-second {
  opacity: 1;
}



.overlaid{
  display: inline;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
}

.heart{
  font-size: 35px;
  cursor: pointer;
}

.download{
  cursor: pointer;
}

.overlaid-second{
  display: inline;;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 20%;
}



@media(min-width: 768px){

}



#form-icon {
  text-align: center;
  font-size: 100px;
}

#content{
  margin: 10% 30%;
}

#form-btn{
  text-align: right;
}

#lit-text{
  margin-top: 20px;
  text-align: center;
}

.login-form{
  padding: 20px 50px;
}

.login-title{
  font-weight: bolder;
}

#filt-icon{
  text-align: right;
  padding-right: 16px;
}

.search{
  text-align: right;
      padding-right: 20.4px;
      padding-left: 20.4px;

}

